<template>
<div>
 <nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li>
					<div class="user-img-div">
						<img src="#" class="img-thumbnail" />

						<div class="inner-text">
							Admin Panel
						<br />
							<small>Silluzio Moda</small>
						</div>
					</div>

				</li>

				<li>
					<a <?=($page == 'dash')? 'class="active-menu"':'';?> href="<?=base_url();?>admin/admin010" ><i class="fa fa-dashboard "></i>Dashboard</a>
				</li>
			
				<li>
					<a <?=($page == 'add')? 'class="active-menu"':'';?> href="<?=base_url();?>admin/admin010/add"><i class="fa fa-flash "></i>Dodaj proizvod</a>
					
				</li>
				<li>
					<a <?=($page == 'settings')? 'class="active-menu"':'';?> href="<?=base_url();?>admin/admin010/settings"><i class="fa fa-flash "></i>Podešavanja</a>
					
				</li>
				 
				  <li>
					<a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
				</li>
				 <li>
					<a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
				</li>
				<li>
					<a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
					 <ul class="nav nav-second-level">
						<li>
							<a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
						</li>
						 <li>
							<a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
						</li>
						<li>
							<a href="#">Second Level Link<span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li>
									<a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
								</li>

							</ul>

						</li>
					</ul>
				</li>
			   
				<li>
					<a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
				</li>
			</ul>

		</div>

	</nav>

	<div id="page-wrapper">
		<div id="page-inner">
			<div class="row ">
				<div class="col-md-7">
					<h1 class="page-head-line"><?=$pageName;?></h1>
				</div>
				<div class="col-md-5">
					<?=(isset($msg))? $msg :'';?>
				</div>
			</div>

</div>
</template>

<script>
export default {

  name: 'SideMenu',

  data () {
	return {

	}
  }
}
</script>

<style lang="css" scoped>
</style>