<template>
	<div>
	
		<div v-html="sizes"></div>
	
	</div>
</template>
<script>
	export default {
		 props:['sizes'],

		 data(){
		 	return{
			 	/*sizes: `
			 		<div class="form-group col-md-2 col-sm-4 col-xs-4">
	          <input type="text" class="form-control" name="size[]" style="padding: 3px">
	        </div>
			 	`*/
			 }
		 },
		 methods:{
	    /*addSizes: ()=>{
	    	console.log('RADI');
	      this.sizes.push(this.sizes[0])
	    }*/
	  }
	}
</script>