<template>
	<div>
		<admin-header></admin-header>
		<side-menu></side-menu>
	</div>
</template>

<script>
import Header from '../Layouts/Header.vue';
import SideMenu from '../Layouts/SideMenu.vue';

export default {

  name: 'AddProduct',
  components: {
  	"admin-header": 	 Header,
  	"side-menu": SideMenu
  }
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>