.flex-container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	//justify-content: space-between;
}

/*.f-s{
	flex: 1 0 100px;
	max-width: 200px;
	height: 100px;
	margin: 1px;
}

.f-m{
	flex: 1 0 200px;
	max-width: 300px;
	height: 100px;
	margin: 1px;
}*/

.crud-item {
	flex: 0 0 auto;
	min-width: 200px;
	cursor: context-menu;
	padding: 1px;
	margin-right: 10px;
	margin-bottom: 5px;
	//box-sizing: content-box;
	//border: 1px solid black;
}

.crud-item:hover > .crud-action {
	display: inline-block;
}
/* opciono crud-delete i crud-edit*/
/*.crud-delete{
	position: absolute;
	margin-left: 40px;
}
.crud-edit{
	position: absolute;
}*/
.crud-title{
	font-weight: 700;
	border: 2px solid #C3C3C3;
	border-radius: 5px;
	padding: 5px;
}
.crud-action{
	background-color: #DDDDDD;
	border-radius: 3px;
	margin:0;
	display: none;
}

@media screen and (min-width: 768px){

	.f-s{
		/* min width:80 max width:150 */
		flex: 1 0 80px;
		max-width: 100px;
		height: 100px;
		border: 1px solid black;
		margin: 1px;
	}

	.f-m{
		flex: 1 0 150px;
		max-width: 220px;

		border: 1px solid black;
		margin: 1px;
	}

}